DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=smart_attendance
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

KHALTI_SECRET_KEY=your_test_secret_key
KHALTI_PUBLIC_KEY=your_public_key
KHALTI_WEBSITE_URL=http://127.0.0.1:8000

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_PROJECT_ID=your_google_project_id
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/accounts/google/login/callback/
GOOGLE_JAVASCRIPT_ORIGIN=http://127.0.0.1:8000
