# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Django
*.sqlite3
media/
staticfiles/
*.log

# Node / Tailwind
node_modules/

# Environment & secrets
.env
.env.*
.env.example
secrets.json

# IDE / Editors
.vscode/
.idea/
