{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col justify-center items-center">

    <h1 class="text-4xl font-bold mb-6">Sign Up</h1>

    <form method="post" class="bg-white p-8 rounded shadow-md w-96">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded w-full hover:bg-green-600 transition">Register</button>
    </form>

</body>
</html>
